@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0066ff 0%, #cc66ff 100%);
    font-family: "Poppins";
    color: azure;
}

.location,.temp{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temp{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.unit{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}

.degree{
    margin: 5px;
    font-size: 30px;
    text-align: start;
}

.copyright{
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 99%;
    color: white;
    text-align: right;
}